flows.json
[
    {
        "id": "cb0d178b22d1f056",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe2c6f68bdb3a6d",
        "type": "inject",
        "z": "cb0d178b22d1f056",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "ae540cc32c88fa5e",
                "9e3f9c9cc376cf46",
                "cf18803febcfb939",
                "b7da0585ddddcf96"
            ]
        ]
    },
    {
        "id": "ae540cc32c88fa5e",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": [
            [
                "9b8050eeb28906d4",
                "10438fa9d40d86b9"
            ]
        ]
    },
    {
        "id": "9e3f9c9cc376cf46",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "ba72f42e33886743"
            ]
        ]
    },
    {
        "id": "cf18803febcfb939",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "fa2ca4a45c33e550",
                "8a18951b28f8826f"
            ]
        ]
    },
    {
        "id": "b7da0585ddddcf96",
        "type": "change",
        "z": "cb0d178b22d1f056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 680,
        "wires": [
            [
                "9b8050eeb28906d4"
            ]
        ]
    },
    {
        "id": "9b8050eeb28906d4",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "761c383d0f5abcbc"
            ]
        ]
    },
    {
        "id": "fa2ca4a45c33e550",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 580,
        "wires": [
            [
                "662086e5fefce402"
            ]
        ]
    },
    {
        "id": "10438fa9d40d86b9",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "761c383d0f5abcbc",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 260,
        "wires": []
    },
    {
        "id": "662086e5fefce402",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "ba72f42e33886743",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "8a18951b28f8826f",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 420,
        "wires": []
    }
]