flows.json
[
    {
        "id": "cb0d178b22d1f056",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe2c6f68bdb3a6d",
        "type": "inject",
        "z": "cb0d178b22d1f056",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ae540cc32c88fa5e",
                "9e3f9c9cc376cf46",
                "cf18803febcfb939",
                "b7da0585ddddcf96"
            ]
        ]
    },
    {
        "id": "ae540cc32c88fa5e",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "9b8050eeb28906d4",
                "10438fa9d40d86b9"
            ]
        ]
    },
    {
        "id": "9e3f9c9cc376cf46",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "ba72f42e33886743"
            ]
        ]
    },
    {
        "id": "cf18803febcfb939",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "fa2ca4a45c33e550",
                "8a18951b28f8826f"
            ]
        ]
    },
    {
        "id": "b7da0585ddddcf96",
        "type": "change",
        "z": "cb0d178b22d1f056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 640,
        "wires": [
            [
                "9b8050eeb28906d4"
            ]
        ]
    },
    {
        "id": "9b8050eeb28906d4",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 220,
        "wires": [
            [
                "761c383d0f5abcbc",
                "21bd9dc1c2d00e04"
            ]
        ]
    },
    {
        "id": "fa2ca4a45c33e550",
        "type": "function",
        "z": "cb0d178b22d1f056",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 540,
        "wires": [
            [
                "662086e5fefce402",
                "f317b8cd55484089"
            ]
        ]
    },
    {
        "id": "10438fa9d40d86b9",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "761c383d0f5abcbc",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "662086e5fefce402",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "ba72f42e33886743",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a18951b28f8826f",
        "type": "debug",
        "z": "cb0d178b22d1f056",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "f317b8cd55484089",
        "type": "range",
        "z": "cb0d178b22d1f056",
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1210,
        "y": 660,
        "wires": [
            [
                "f2df228123c39f84"
            ]
        ]
    },
    {
        "id": "21bd9dc1c2d00e04",
        "type": "range",
        "z": "cb0d178b22d1f056",
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1230,
        "y": 120,
        "wires": [
            [
                "f2df228123c39f84"
            ]
        ]
    },
    {
        "id": "f2df228123c39f84",
        "type": "range",
        "z": "cb0d178b22d1f056",
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1390,
        "y": 360,
        "wires": [
            [
                "7772eabc9a3c0f79"
            ]
        ]
    },
    {
        "id": "6f2ac1ac76804248",
        "type": "rbe",
        "z": "cb0d178b22d1f056",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1610,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7772eabc9a3c0f79",
        "type": "delay",
        "z": "cb0d178b22d1f056",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1720,
        "y": 340,
        "wires": [
            []
        ]
    }
]